@value lightGray from "./colors";

.container {
  left: 100%;
  top: 0;
  position: absolute;
  padding-left: .6em;
  width: 20em;
}

.score {
  font-size: 1.1em;
  font-weight: bolder;
}

.reasonsList {
  margin-top: .2em;
  padding-top: .2em;
  border-top: 2px solid lightGray;
  font-size: 0.75em;
  display: inline-block;
}

.reasonItem {
  margin-bottom: .1em;
}

.reasonScore {
  font-weight: bolder;
}

.reasonLabel {
  margin-left: .4em;
}
